/* Header Nav Container tablet responsive*/
.headerNavContainer {
  flex-direction: column;
}

.headerNavList li {
  margin: 0.5em;
  font-size: 1em;
}

/* Section | Background Image and Content responsive tablet */

.imgContentPromotion {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0;
}

.imgContentPromotion h4 {
  display: flex;
  color: #FFDC26;
  letter-spacing: 0.08em;
  font-size: 3em;
}

.imgContentPromotion p {
  display: flex;
  color: #F6F6F6;
  font-size: 1.5em;
}

/* Section | Rezervation Content responsive tablett*/

.reservationContent p {
  font-size: 1.5em;
}